body{margin:0}
#mission{margin-bottom: 0pt; font-family: Futura; font-size: 40px; text-align: center}
#missionp{text-align:center; font-family:calibri; font-size:20px}
#missioncontainer{max-width:800px; margin:0 auto;}
.personcontainer{height: 400px; vertical-align: middle;}
.personcontainer-inner{height: 400px; text-align: center; font-family: calibri; margin: 0 auto; font-size:15px; vertical-align: middle;}
#dufourcontainer{background-color: #ce93d8;}
#img1container{padding-top:5px; width:350px; height: 320px; display: inline-block; vertical-align: middle;}
#img1{-webkit-border-radius: 50%; border-radius: 50%; -moz-border-radius:50%; border: 3px solid white}
#font{font-size: 20px}
#textwrapper{height:300px; padding-top:20px;width: 500px; display: inline-block; font-size: 15px;}
#goldbergcontainer{background-color: #FFBD5C;}
#img2{-webkit-border-radius: 50%; border-radius: 50%; -moz-border-radius:50%; border: 3px solid white}

ul {
font-family: Arial, Verdana;
font-size: 20px;
margin: 0;
padding: 0;
list-style: none;
}
ul li {
display: block;
position: relative;
float: left;
}



#submit-button {
    display: inline-block;
    background: #FF684F;
    color: white;
    font-size: 15px;
    width: 180px;
    text-align: center;
    padding: 10px 0px;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    margin-right: 20px;
    text-decoration: none;
    position: relative;
    left: 0;
}

.input {
    width: 400px;
    height: 185px;
}
.input1 {
    width: 400px;
}
#header {
    font-size: 50px;
}
.right_item {
    margin-top: 5px;
    display: inline-block;
    color: white;
    font-size: 16px;
    float: right;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 5px;
}

#logo {
    font-size: 35px;
    color: #FF684F;
    font-family: tahoma;
}
#Boards{
    padding-left:20px
        
}

#middle-about{padding-top: 75px;}
